//- LaTex
script(async src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML" integrity="sha384-crwIf/BuaWM9rM65iM+dWFldgQ1Un8jWZMuh3puxb8TOY9+linwLoI7ZHZT+aekW" crossorigin="anonymous")

//- Analytics tracking
script
    | var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?ac79609293bb89e78a8c49ccb286bce5";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s);})();
